extends layout

block content
  h1
    include partials/project-name

  pre http://localhost:9200/#{project._owner.slug}/#{project.slug}

  .dropdown
    a.btn.btn-default(href="/#{project._owner.slug}/#{project.slug}/branches", data-toggle="dropdown") 
      i.fa.fa-code-fork
      |  branch: #{branch} 
      i.fa.fa-caret-down
    ul.dropdown-menu(role="menu")
      each availableBranch in branches
        li(class=((branch == availableBranch) ? 'active' : undefined))
          a(href="/#{project._owner.slug}/#{project.slug}/tree/#{availableBranch}") #{availableBranch}

  hr

  ul.nav.nav-tabs#project-tabs
    li.active
      a(href="#code", data-toggle="tab")
        i.fa.fa-code
        |  Code
    li
      a(href="#issues", data-toggle="tab")
        i.fa.fa-warning
        |  Issues
    li
      a(href="#docks", data-toggle="tab")
        i.fa.fa-users
        |  Docks

  .tab-content
    .tab-pane.active#code
      h2 Commits
      each commit in commits
        pre #{JSON.stringify(commit)}

      h2 Code
      table.table
        each file in files
          tr
            td
              a(href="/#{project._owner.slug}/#{project.slug}/blob/#{branch}/#{file.name}") #{file.name}
            td
              a(href="") #{file.commit.msg}
            td
              a(href="") #{moment(file.commit.timestamp).fromNow()}

      h2 README.md
      .readme !{project.readme}

    .tab-pane#issues
      a.btn.btn-default.pull-right(href="/#{project._owner.slug}/#{project.slug}/issues/new") Create Issue &raquo;
      h2 Issues
      table.table
        each issue in issues
          include partials/issue

    .tab-pane#docks
      h2 Docks
      table.table
        each dock in docks
          tr
            td #{dock.id}
            td #{dock.title}

