li.list-group-item
  .pull-right
    .btn-group
      a.btn.btn-default(href="/#{project._owner.slug}/#{project.slug}/trees/#{commit.commit}", title="Browse code at commit #{commit.commit}")
        i.fa.fa-code
      a.btn.btn-default(href="/#{project._owner.slug}/#{project.slug}/commits/#{commit.commit}") #{commit.commit.substring(0, 7)}
  p
    a(href="/#{project._owner.slug}/#{project.slug}/commits/#{commit.commit}")
      strong #{commit.message}
  p
    if commit._author
      - var person = commit._author
      include person
    else
      code #{commit.author}
    |  authored on <abbr class="timestamp" title="#{commit.date}">#{moment(commit.date).format('MMM D, YYYY')}</abbr>
