table.table
  each file in files
    tr
      td
        a(href="/#{project._owner.slug}/#{project.slug}/blobs/#{branch}/#{file.name}")
          if (file.type === 'tree')
            i.fa.fa-folder
          else
            i.fa.fa-file-o
          if (filePath)
            |  #{file.name.replace( filePath , '' )}
          else
            |  #{file.name}
      td
        a(href="/#{project._owner.slug}/#{project.slug}/commits/#{file.commit.commit}") #{file.commit.message}
      td
        a(href="/#{project._owner.slug}/#{project.slug}/commits/#{file.commit.commit}") #{moment(file.commit.date).fromNow()}
